{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body>
  <section id="sidebar">
    {% include aside.html %}
  </section>

  <section id="maincontent">
    <header role="banner">{% include header.html %}</header>
    <nav role="navigation">{% include navigation.html %}</nav>
    <div id="main">
        <div id="content">
            {{ content | expand_urls: root_url }}
        </div>
    </div>
  </section>

  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
